ion-fab {
  margin-bottom: 20px;
  margin-right: 20px;
}

ion-fab-button {
  --background: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary-shade);
  --background-hover: var(--ion-color-primary-tint);
}
