<ion-content>
  <div class="message-container">
    <!-- Message d'accueil -->
    <h1 class="welcome-message" #welcomeMessage>
      <span class="hey">HEY</span><br />
      <span class="name">NASSIM,</span>
    </h1>

    <!-- Phrase d'accroche aléatoire -->
    <p class="random-phrase">{{ randomPhrase }}</p>

    <!-- Boutons d'action -->
    <div class="actions">
      <button class="action-button underline">Pas envie</button>
      <button class="action-button filled">Go !</button>
    </div>
  </div>
</ion-content>
