<ion-content>
  <div class="scrollable-content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Monthly Overview</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id="monthlyChart"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Mood Distribution</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id="distributionChart"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Weekly Patterns</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id="weeklyChart"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
